body 
{   
    background-image: url("CradTable.png");
    background-repeat: no-repeat;
    background-size: cover;     
}

header{
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 250px;
    left: 610px;  
}

p1{
    text-align: center;
    position: absolute;
    top: 380px;
    left: 670px
}

p2{
    text-align: center;
    position: absolute;
    top: 410px;
    left: 670px
}

p3{
    text-align: center;
    position: absolute;
    top: 440px;
    left: 670px
}

p4{
    text-align: center;
    position: absolute;
    top: 470px;
    left: 670px
}
