body {
    font-family: sans-serif;
    background-color: darkolivegreen;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    }
a:visited { 
    text-decoration: none; 
    color:red;
  } 
.game-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.opponent-content {
    display: block;
    text-align: center;
    color: white;
}
.opponent-content img {
   padding-left: 150px;
}

/* Animations */
@keyframes grow {
    0% {
        transform: scale(0.2);
        opacity: 0.2;
    }
    100% {
        transform: scale(1); /* Grows the card to full size */
        opacity: 1; /* Fully visible */
    }
}
@keyframes visable {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; /* Fully visible */
    }
}

@keyframes moveCard {
    0% {
        transform: translate(0px, 0px); /* Initial position */
    }
    100% {
        transform: translate(300px, 275px); /* Final position */
        opacity: 0;
    }
}

@keyframes bookglow {
    0%{
        box-shadow: none;
    }
    100% {
    box-shadow: 0 0 20px white;
    }
}


.card-front1 {
    animation: grow 1s forwards;
  
}
.card-front2 {
    animation: grow 1s forwards;
    animation-delay: 0.3; /* Starts after the first card finishes */
}

.card-front3 {
    animation: grow 1s forwards;
    animation-delay: 0.5s; /* Starts after the second card finishes */
}

.card-front4 {
    animation: visable 5s forwards;
    animation-delay: 0.s; /* Starts after the third card finishes */
}

.opp-card1 {
    animation: 
    grow 2s forwards 0.2s,       
    moveCard 4s forwards ; 
}
.opp-card2 {
    animation: grow 1s forwards;
    animation-delay: 0.1; /* Starts after the first card finishes */
}
.opp-card3{
    animation: grow 1s forwards;
    animation-delay: 0.5s; /* Grow animation */
}
.opp-card4{
    animation: grow 1s forwards;
    animation-delay: 1s; /* Starts after the third card finishes */
}

.player-area{
    display:flex; 
    animation: bookglow 4s forwards;
}

.opponent-area{
    display:flex;
}

.player-card {
    width: 100px;
    height: 150px;
    perspective: 1000px;
} 
  
.opponent-card {
    width: 100px;
    height: 150px;
    perspective: 1000px;
} 

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
 .card-inner-opp {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

.player-card:hover .card-inner {
    transform: rotateY(180deg);
  }

.opponent-card:hover .card-inner-opp {
    transform: rotateY(180deg);
  }

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

.card-back {
    transform: rotateY(180deg);
 }
 .card-back-opp, .card-front-opp {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

.card-front-opp {
    transform: rotateY(180deg);
 }
 .player-content{
    display: block;
    text-align:center;
    padding-left: 250px;
    color: white;
 }
.go-fish-button:hover{
    transform: scale(1.2); 
 }